<div class="card">
    <div class="card-body">
      <h1 class="text-center mb-4">Quiz Setup</h1>
      
      <div class="mb-3">
        <label class="form-label">Category</label>
        <select class="form-select" [(ngModel)]="selectedCategory">
          <option *ngFor="let category of categories" [value]="category.id">
            {{ category.name }}
          </option>
        </select>
      </div>

      <div class="mb-3">
        <label class="form-label">Difficulty</label>
        <select class="form-select" [(ngModel)]="selectedDifficulty">
          <option value="easy">Easy</option>
          <option value="medium">Medium</option>
          <option value="hard">Hard</option>
        </select>
      </div>

      <div data-mdb-input-init class="form-outline">
        <label class="form-label" for="typeNumber">Number of questions</label>
        <input type="number" id="typeNumber" class="form-control" [(ngModel)]="selectedNumber" />
      </div>

      <button 
        class="btn btn-primary w-100" 
        (click)="startQuiz()">
        Start Quiz
      </button>
    </div>
  </div>